{% extends 'main/base.html' %}
{% block title %} About Us{% endblock %}
{% block content %}
    <div class="about-box">
      <h1>About Us</h1>
      <div class="about-content">
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Veritatis tempore, animi quaerat velit excepturi voluptas
        ratione illum minus, laborum officia ea inventore aut
        blanditiis labore quos sunt facilis incidunt ullam dolorum.
        Quam explicabo cum repellat maiores aliquam corrupti,
        amet doloremque tempora aliquid. Ratione, ipsum facilis 
        laborum officia est dolor hic quae, cupiditate quos 
        debitis quasi veniam fugiat
        libero a nulla maiores! Sint, suscipit recusandae.
      </p>
      </div>
      <div class="school-logo">

      </div>
    </div>
{% endblock %}
