{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}
        {% endblock %} | School</title>
   
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&family=Lato:wght@700&family=Raleway:wght@100&family=Roboto:wght@100&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&family=Lato:wght@700&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Source+Sans+Pro:wght@200&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&family=Lato:wght@400;700&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:wght@200;300&family=Raleway:wght@100&family=Source+Sans+Pro:wght@200&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&family=Lato:wght@400;700&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:wght@200;300&family=Raleway:wght@100&family=Roboto+Flex:opsz,wght@8..144,200&family=Source+Sans+Pro:wght@200&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap" rel="stylesheet">
   {% block extrastyle %}
   {% endblock%}
    <link href="{% static 'main/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="background"></div>
    <div class="container">
      <div class="topMain">
        <div class="topMain_sub">
          <span class="sub">Have a question?</span>
          <span class="sub">Call 0093854676</span>
          <span class="sub">info@mydomain.com</span>
        </div>
        <div class="login">
          <span class="login_login"
            ><a href="{% url 'login' %}">Portal</a></span
          >
          <!-- <span class="login_register">Register</span> -->
        </div>
      </div>
      <div class="topNav">
        <h3>School</h3>
        <ul class="scrollbar">
          <div>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </div>
        </ul>
        <a class="enroll" href="#pricing">Enroll Now</a>
      </div>
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
      </div>
      <div class="footer">
        <div class="footerSub">
          <div class="about_school">
            <h3>About School</h3>
            <p>
              Far far away, behind the word<br />
              mountains, far from the countries<br />
              Vokalia and Consonantia, there live the<br />
              blind texts.<br /><br />
              <h3>Connect</h3>
              <ul>
                <li>facebook</li>
                <li>twitter</li>
                <li>insta</li>
                <li>whatsapp</li>
              </ul>
            </p>
          </div>
          <div class="projects">
            <h3>Projects</h3>
            <ul>
              <li>Web Design</li>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>jQuery</li>
              <li>Bootstrap</li>
            </ul>
          </div>
          <div class="gallery">
            <h3>Gallery</h3>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="contact">
            <h3>Contact</h3>
            <p>43 Raymouth Rd. Baltemoer, London<br/> 
              3910</p>
              <p>+99 88 67655</p>
              <p>+99 78 655</p>
              <p>info@mydomain.com</p>
          </div>
        </div>
        <P class="copyright">Copyright ©2022 All rights reserved</P>
      </div>
    </div>
    <script
    src="https://kit.fontawesome.com/257e311d65.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/257e311d65.js"
    crossorigin="anonymous"
  ></script>
    <script src="{% static 'main/index.js' %}"></script>
    
    {% block extrascript %}
    {% endblock %}
  </body>
</html>
