{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
      <div class="middle">
        <h1>
          Learning Center For<br />
          Your Kids
        </h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br />
          Dolores assumenda vel voluptatum soluta excepturi quo.<br />
          Perspiciatis, blanditiis! Sed deserunt provident, rerum pariatur vel
          nemo.
        </p>
        <a href="#pricing"> Explore Now </a>
      </div>
      <!-- <div class="offer">
          <div class="offer_what">
                  <h2 class="h2">What We Offer</h2>
                  <div class="underline"></div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</br> Molestiae sequi maiores suscipit alias, exercitationem iusto assumenda velit explicabo quaerat ipsa!</p>
          </div> -->
      <div class="offer">
        <div class="offer_what">
          <h2 class="h2">What We Offer</h2>
          <div class="underline"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
            Molestiae sequi maiores suscipit alias, exercitationem iusto
            assumenda velit explicabo quaerat ipsa!
          </p>
        </div>
        <div class="offers">
          <div class="offer_one">
            <i class="fas fa-book"></i>
            <h3>Heading</h3>

            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_two">
            <i class="fas fa-book"></i>
            <h3>Heading</h3>

            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_three">
            <i class="fas fa-book"></i>
            <h3>Heading</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_four">
            <i class="fas fa-graduation-cap"></i>
            <h3>Heading</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_five">
            <i class="fas fa-book"></i>
            <h3>Heading</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_six">
            <i class="fas fa-clock"></i>
            <h3>Heading</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
        </div>
      </div>
      <div class="middle-bottom">
        <h1>Education for Tomorrows Sheiks</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut modi
          <br />
          quibusdam delectus impedit doloribus error quasi. Fugiat facilis natus
          assumenda?
        </p>
        <div class="enrol">
          <a href="#">ENROLL NOW</a>
        </div>
      </div>
      <div id="pricing" class="pricing">
        <h1>Pricing</h1>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and<br />Consonantia, there live the blind texts.
        </p>
        <div class="pricing_prices">
          <div class="pricing_prices-one">
            <div class="prices-img">
              <img
                src="https://preview.colorlib.com/theme/nurture/images/1x/xasset-1.png.pagespeed.ic.ab8gYpVzqu.webp"
              />
            </div>
            <h3>Infant</h3>
            <p>
              Far far away, behind the word <br />
              mountains, far from the countries<br />
              Vokalia and Consonantia, there live<br />
              the blind texts.
            </p>
            <div class="span_class">
              <span>$50.99</span><small>/month</small>
            </div>
            <div class="getStarted">
              <a>GET STARTED </a>
            </div>
          </div>
          <div class="pricing_prices-two">
            <div class="prices-img">
              <img
                src="https://preview.colorlib.com/theme/nurture/images/1x/xasset-2.png.pagespeed.ic.1PikOK-wku.webp"
              />
            </div>
            <h3>Toddler</h3>
            <p>
              Far far away, behind the word <br />
              mountains, far from the countries<br />
              Vokalia and Consonantia, there live<br />
              the blind texts.
            </p>
            <div class="span_class">
              <span>$50.99</span><small>/month</small>
            </div>
            <div class="getStarted">
              <a>GET STARTED </a>
            </div>
          </div>
          <div class="pricing_prices-three">
            <div class="prices-img">
              <img
                src="https://preview.colorlib.com/theme/nurture/images/1x/xasset-3.png.pagespeed.ic.HtenSNIL60.webp"
              />
            </div>
            <h3>Lad</h3>
            <p>
              Far888888 far away, behind the word <br />
              mountains, far from the countries<br />
              Vokalia and Consonantia, there live<br />
              the blind texts.
            </p>
            <div class="span_class">
              <span>$50.99</span><small>/month</small>
            </div>
            <div class="getStarted">
              <a>GET STARTED </a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}