{% extends 'staff/base.html' %}
{% load staticfiles %}
{% block title %}Change Password{% endblock %}
{% block content %}
            <div class="pad-container pt-4">
                <div>
                    <a href="{% url 'staff:profile' %}" class="back-button large-text">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </div>
                <h2 class="header flex-between">
                    Change Your Password
                </h2>
                <div class="flex-center page-box">
                    <div class="large-form-box">
                        <div class="form-header">
                            Fill the Form
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group mb-4">
                                <input type="password" name="old_password" value="{{form.old_password.value|default:''}}" class="form-control"  placeholder=" ">
                                <label> Current Password </label>
                                {% if form.old_password.errors %}
                                <span class="error-msg">{{form.old_password.errors}}</span>
                                {% endif %}
                            </div>
                           
                            <div class="form-group mb-4">
                                <input type="password" name="new_password1" value="{{form.new_password1.value|default:''}}" class="form-control"  placeholder=" ">
                                <label> New Password </label>
                                {% if form.new_password1.errors %}
                                <span class="error-msg">{{form.new_password1.errors}}</span>
                                {% endif %}
                            </div>
            
                            <div class="form-group mb-4">
                                <input type="password" name="new_password2" value="{{form.new_password2.value|default:''}}" class="form-control" placeholder=" ">
                                <label> Confirm Password </label>
                                {% if form.new_password2.errors %}
                                <span class="error-msg">{{form.new_password2.errors}}</span>
                                {% endif %}
                            </div>
                            <div class="form-group flex-center">
                                <input type="submit" value="Change" class="site-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}
