{% extends 'staff/base.html' %}
{% load staticfiles %}
{% block title %}Your Mails{% endblock %}
{% block content %}
        <div class="pad-container">
            <h2 class="header">
                Your Inbox
            </h2>
            
            <div class="boot-row row-reverse">
                
                <div class="col-md-8">
                    {% for object in page_obj %}
                    <div class="box mail-box {% if not object.read %}unread{% endif%}">
                        <h3><a href="{% url 'staff:inbox-details' object.id %}" class="link">{{object.subject}}</a></h3>
                        <p>{{object.message|truncatechars:20}}</p>
                        <span class="status-icon color-{{object.get_flag_display}}"><i class="fa-solid fa-bookmark"></i></span>
                        <footer class="flex-end small-text">
                            <span><i class="fa-solid fa-clock"></i> {{object.time}}</span>&nbsp;&nbsp;
                            <span><i class="fa-solid fa-calendar-days"></i>{{object.date}}</span>
                        </footer>
                    </div>
                    {% empty %}
                    <div class="no-item">
                        <p>No Mail</p>
                    </div>
                    {% endfor %}
                    {% if page_obj %}
                    <div class="flex-center">
                        <ul class="paginator">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" ><span>&laquo;</span></a></li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"><span>&laquo;</span></a></li>
                            {% endif %}
                            
                            {% for pagenum in page_obj.paginator.page_range %}
                            {% if page_obj.number == pagenum %}
                                <li class="page-item{% if page_obj.number == pagenum %} active{% endif %}">
                                    <a class="page-link" href="?page={{pagenum}}">{{pagenum}}</a>
                                </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?}page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}"><span>&raquo;</span></a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" ><span>&raquo;</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-4 mb-4">
                    <div class="flex-center">
                        <smart-calendar id="calander"></smart-calendar>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}