{% extends 'admins/settings/base.html' %}
{% block settings_content %}
          <div class="details-content">
            <!-- nav header -->
            <div class="details-nav">
              <div class="personal-info">
                <h1 class="personal-info-header">Password</h1>
                <p class="personal-info-sub-header">
                  please enter your current to change your password.
                </p>
              </div>
              <form action="" method="POST">
                {% csrf_token %}
              
              <!-- nav btn -->
              <div class="nav-link-add">
                <a href="#" class="nav-icon-cancel">Cancel</a>
                <input type="submit" value="Update" class="nav-icon-save">
              </div>
            </div>

            <!-- current password -->
            <div class="personnel-name">
              <div class="personnel-container">
                <div class="detail-name">
                  <h1 class="detail-name-header">Current Password</h1>
                </div>

                <!-- input fields -->

                <input
                  type="password"
                  name="old_password"
                  placeholder="Current Password"
                  class="input-four"
                />
               
              </div>
              <span class="error-msg">{{form.old_password.errors|default:''}}</span>
            </div>
          </div>
          <!-- New password -->
          <div class="personnel-email">
            <div class="email-container">
              <div class="detail-email">
                <h1 class="detail-name-header">New Password</h1>
              </div>

              <!-- input fields -->
              <div class="detail-email-input">
                <input
                  type="password"
                  name="new_password1"
                  placeholder="New Password"
                  class="input-two"
                />
                <!-- message -->
                <p class="password-message">
                  password must be more than 8 characters
                </p>
              <span class="error-msg">{{form.new_password1.errors|default:''}}</span>
              </div>
            </div>
          </div>

          <!-- confirm password -->
          <div class="personnel-role">
            <div class="role-container">
              <div class="detail-name">
                <h1 class="detail-name-header">Confirm Password</h1>
              </div>

              <!-- input fields -->
              <div class="detail-role-input">
                <input
                  type="password"
                  name="new_password2"
                  placeholder="Confirm Password"
                  class="input-two"
                />
              </div>
            </div>
            <span class="error-msg">{{form.new_password2.errors|default:''}}</span>
          </div>
        </form>
{% endblock %}